<a routerLink="/datosPersona">ir a datos persona</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Pais</th>
      <th scope="col">Continente</th>
      <th scope="col">Zona Horaria</th>
      <th scope="col">Url de google maps</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paises of paises; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ paises.name.common }}</td>
      <td>{{ paises.continents }}</td>
      <td>{{ paises.timezones }}</td>
      <td>{{ paises.maps.googleMaps }}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>