<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Cargar inventario inicial</a>
          <a class="dropdown-item" href="#">Entradas de inventario</a>
          <a class="dropdown-item" href="#">Salidas de inventario</a>
          <a class="dropdown-item" routerLink="/inventarios/listarInventarios">Listar inventario</a>
          <a class="dropdown-item" href="#">Reporte de cierre</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proveedores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Nuevo Proveedor</a>
          <a class="dropdown-item" routerLink="/proveedores/listarProveedores">Listar Proveedores</a>
          <a class="dropdown-item" href="#">Consulta Proveedores</a>
        </div>
      </li>
      
    </ul>
  </div>
</nav>

<a routerLink="/datosPersona">ir a datos persona</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Pais</th>
      <th scope="col">Continente</th>
      <th scope="col">Zona Horaria</th>
      <th scope="col">Url de google maps</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paises of paises; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ paises.name.common }}</td>
      <td>{{ paises.continents }}</td>
      <td>{{ paises.timezones }}</td>
      <td>{{ paises.maps.googleMaps }}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>